
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color:#f5cec7 ;
}
ul, li, p, h1, h2, h3, img, figure, article, section, main, header, nav, footer, a, body, html{
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration: none;
    color:unset;
}

/*********************************************** NAVBAR ***********************************************/
header .manav ul{
    display:flex;
    flex-direction: row;
    height:8vh;
    background-color:#ffc98b;
    justify-content: space-around;
    align-items: center;
}
header .manav ul li img{
    height:8vh;
}

/*********************************************** SPLASH SCREEN ***********************************************/

.mainhome{
    width:100vw;
    position:relative;
    max-width: 100%;
}
.mainhome figure img{
    width:100vw;
    height:100vh;
    object-fit: cover;
    max-width: 100%;
}
.mainhome article{
    width: 30vw;
    position:absolute;
    left:15vw;
    top:40vh;
    color: rgb(255, 255, 255);
    max-width: 30vw;
    
}
.mainhome article p {
    font-size: 1rem;
}
    
/*********************************************** ARTICLES ***********************************************/

.containerhome .articlehome1{
    margin-top: 20vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 1fr 20vh;
    grid-template-areas: 
    "h3home h3home"
    "imghome phome"
    
}
.containerhome .articlehome1 h3{
grid-area: h3home;
justify-self: center;
align-self: center;
grid-column-end: 1;
border: 1px solid black;
padding: 2rem;

}
.containerhome .articlehome1 img{
 grid-area: imghome;
 width: 40vw;
 justify-self: center;
 align-self: center;
}
.containerhome .articlehome1 p{
grid-area: phome;
align-self: center;
width:50%;
justify-self: center;
border: 1px solid black;
padding: 2rem;
}

/***** ARTICLE 2 *******/


.containerhome .articlehome2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 1fr 20vh;
    grid-template-areas: 
    "h3home h3home"
    "phome imghome"
    
}
.containerhome .articlehome2 h3{
grid-area: h3home;
justify-self: center;
align-self: center;
grid-column-start: 2;
border: 1px solid black;
padding: 2rem;

}
.containerhome .articlehome2 img{
 grid-area: imghome;
 width: 40vw;
 justify-self: center;
 align-self: center;
}
.containerhome .articlehome2 p{
grid-area: phome;
align-self: center;
width:50%;
justify-self: center;
border: 1px solid black;
padding: 2rem;
}

/***** ARTICLE 2 *******/

.containerhome .articlehome3{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 1fr 20vh;
    grid-template-areas: 
    "h3home h3home"
    "imghome phome"
    
}
.containerhome .articlehome3 h3{
grid-area: h3home;
justify-self: center;
align-self: center;
grid-column-end: 1;
border: 1px solid black;
padding: 2rem;

}
.containerhome .articlehome3 img{
 grid-area: imghome;
 width: 40vw;
 justify-self: center;
 align-self: center;
}
.containerhome .articlehome3 p{
grid-area: phome;
align-self: center;
width:50%;
justify-self: center;
border: 1px solid black;
padding: 2rem;
}
footer{
    background-color: #ffb284;
    height:5vh;
}
footer P{
    text-align: center;
    line-height: 5vh;
}



/***************** STUDIO ***************/

.mainstudio{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 5rem 1fr 1fr 0.5fr;
    grid-template-areas: 
    "h1stud h1stud h1stud"
    "mainimgstud mainimgstud mainimgstud"
    "mainimgstud mainimgstud mainimgstud"
    "pstud pstud pstud"
    ;
}
.mainstudio h1{
    grid-area: h1stud;
    align-self: center;
    justify-self: center;
}
.mainstudio .mainimgstud{
    grid-area: mainimgstud;
    width: 60%;
    object-fit: cover;
    justify-self: center;
    align-self: center;
}
.mainstudio p{
    grid-area: pstud;
    justify-self: center;
    align-self: center;
    text-align: center;
    
}
.mainstudio .parensectionstud .sectionstud{
  
   width:80vw;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   "stud1 stud2 stud3"
   "stud4 stud5 stud6";
}
.mainstudio section article img{
  width:100%
}
.mainstudio section .articlestudio1{
    grid-area: stud1;
    object-fit: cover;
}
.mainstudio section .articlestudio2{
    grid-area: stud2;
    object-fit: cover;
    width: 100%;
}
.mainstudio section .articlestudio3{
    grid-area: stud3;
    object-fit: cover;
    width: 100%;
}
.mainstudio section .articlestudio4{
    grid-area: stud4;
    object-fit: cover;
    width: 100%;
}
.mainstudio section .articlestudio5{
    grid-area: stud5;
    object-fit: cover;
    width: 100%;
}
.mainstudio section .articlestudio6{
    grid-area: stud6;
    object-fit: cover;
    width: 100%;
}
.mainstudio section .articlestudio1 img{
    width: 100%;
    object-fit: cover;
}

/****************************** GALERIE ***********************/

.containergal section{
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "img1 img2 img3 img3"
        "img1 img4 img4 img5"
        "img6 img6 img6 img5"
        "img6 img6 img6 img5"
        "img7 img7 img8 img8";
}

.containergal section .img1 {
    grid-area: img1;
    object-fit: cover;
}

.containergal section .img2 {
    grid-area: img2;
    object-fit: cover;
}

.containergal section .img3 {
    grid-area: img3;
    object-fit: cover;
}

.containergal section .img4 {
    grid-area: img4;
    object-fit: cover;
}

.containergal section .img5 {
    grid-area: img5;
    object-fit: cover;
}

.containergal section .img6 {
    grid-area: img6;
    object-fit: cover;
}

.containergal section .img7 {
    grid-area: img7;
    object-fit: cover;
}

.containergal section .img8 {
    grid-area: img8;
    object-fit: cover;
}

/*********************************************** GALERIE ***********************************************/
/**
main {
    display: grid;
    justify-content: space-evenly;
}

main .containergalerie {
    display: grid;
    width: 90vw;
    height: 100vh;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "img1 img2 img3 img3"
        "img1 img4 img4 img5"
        "img6 img6 img6 img5"
        "img6 img6 img6 img5"
        "img7 img7 img8 img8";
}

main .containergalerie .img1 {
    grid-area: img1;
    background-color: aqua;
}

main .containergalerie .img2 {
    grid-area: img2;
    background-color: rgb(52, 163, 52);
}

main .containergalerie .img3 {
    grid-area: img3;
    background-color: rgb(68, 0, 255);
}

main .containergalerie .img4 {
    grid-area: img4;
    background-color: rgb(255, 38, 0);
}

main .containergalerie .img5 {
    grid-area: img5;
    background-color: rgb(247, 0, 255);
}

main .containergalerie .img6 {
    grid-area: img6;
    background-color: rgb(255, 145, 0);
}

main .containergalerie .img7 {
    grid-area: img7;
    background-color: rgb(245, 248, 32);
}

main .containergalerie .img8 {
    grid-area: img8;
    background-color: rgb(136, 20, 126);
}
**/